@keyframes glow {
  0% {
    filter: brightness(0.2) contrast(2) hue-rotate(0deg) saturate(2);
  }
  50% {
    filter: brightness(1.8) contrast(1) hue-rotate(-45deg) saturate(1.5);
  }
  100% {
    filter: brightness(0.2) contrast(2) hue-rotate(-90deg) saturate(2);
  }
}

a {
  color: white;
  line-height: 1;
  text-decoration: none;
  user-select: none;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  overflow: hidden;
}

/* canvas {
  -ms-interpolation-mode: nearest-neighbor;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-name: glow;
  animation-timing-function: linear;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
} */

h1 {
  cursor: default;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  text-shadow: 0;
  user-select: none;
}

.cld-video-player {
  height: 100vmax;
  width: 100vmax;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-name: glow;
  animation-timing-function: linear;
}

#container {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  mix-blend-mode: exclusion;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}

.mnml {
  bottom: 3.5px;
  position: relative;
}

.mxml {
  display: inline-block;
  position: relative;
  top: 3.5px;
  transform: scale(-1, -1);
}
